* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4E8D3;
}

h1 {
    color: #F4E8D3;
    font: 2rem "EB Garamond";
}

h2 {
    color: #6E521E;
    font: 22px "EB Garamond";
    font-weight: bold;
}

h3 {
    color: #6E521E;
    font: 18px "EB Garamond";
    font-weight: bold;
}

p {
    color: #000;
    font: 16px "Nunito";
    font-weight: light;
}

a {
    text-decoration: none;
}

.menyKnappar {
    color: #F4E8D3;
    background-color: #D87F58;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-content: center;
    border-radius: 2px;
    font: 11px "Nunito";
    text-decoration: none;
}

.ikoner-SocialaMedier {
    width: 20px;
}

main{
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
}

main section{
    
}

.nav-Meny {
    
}

header {
    background: url(images/ugn.jpg);
    background-size: cover;
    height: 200px;
    background-color:#6e521e7e;
    width: 100%;
    position:sticky;
}

footer{
    background-color: #6e521e7e;
    width: 100%;
    bottom: 0;
    z-index: 1;
}