* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4E8D3;
}

h1 {
    display: flex;
    padding-top: 84px;
    color: #F4E8D3;
    font: 2rem "EB Garamond";
    align-items: center;
    justify-content: center;
}

h2 {
    color: #6E521E;
    font: 22px "EB Garamond";
    font-weight: bold;
}

h3 {
    color: #6E521E;
    font: 18px "EB Garamond";
    font-weight: bold;
}

p {
    color: #000;
    font: 16px "Nunito";
    font-weight: light;
}

a {
    text-decoration: none;
}

.menyKnappar {
    color: #F4E8D3;
    background-color: #D87F58;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-content: center;
    border-radius: 2px;
    font: 11px "Nunito";
    text-decoration: none;
}

.ikoner-SocialaMedier {
    width: 20px;
}

main{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
}

section{
    display: grid;
    grid-column: 2 / 8;
    grid-row: auto;
    padding-top: 50px;
}

.nav-Meny {
    display: flex;
    position: sticky;
    top: 0;
    background-color:#6e521e7e;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    position: sticky;
    top: 0;
}

header {
    background: url(images/ugn.jpg);
    background-size: cover;
    height: 200px;
    background-color:#6e521e;
    width: 100%;
    position:sticky;
}

footer{
    background-color: #6e521e7e;
    width: 100%;
    bottom: 0;
    z-index: 1;
}